#chat-dialogue-view {
    .message .ui.image {
        height: auto;
        width: auto;
    }

    .content-box {
        &.top-msg {
            margin-top: 90px;
        }

        &.middle-bottom-msg {
            margin-top: 20px;
        }

        .sub-heading {
            display: inline;
        }

        .sub-heading.deemphasized {
            display: block;
            margin-bottom: 1em;
        }

        .content {
            margin-bottom: 0px;
            margin-top: 0px;
        }

        img {
            width: 66px;
            height: 70px;
            margin: 0px auto;
        }

        .heart {
            i {
                font-weight: 600;
            }
        }

        .message {
            .retweet {
                margin-left: 10px;
            }
        }
    }
}
