#choose-strategy-view {
    .instructions {
        text-align: center;
    }

    .carousel .slide {
        background-color: inherit;
        padding-bottom: 10px;
    }

    .content-box {
        margin-top: 0px;

        p {
            text-align: left;
        }

        .strat-num {
            margin-top: 0px;
        }

        .coin-cost {
            margin-top:10px;
            display: inline;
            padding-top: 20px;
        }

        .col-left {
            padding-right: 0px;
            text-align: left;
        }

        .col-right {
            padding-left: 0px;
            text-align: right;
            padding-top: 25px;
        }

        .coin-img {
            display: inherit;
            width: 20px;
            display: inline;
            margin-left: 8px;
            margin-top: 2px;
        }
    }

    .carousel-holder {
        margin-top: 20px;
    }

    .nav {
        color: white;
        background-color: #1E8FE1;
    }

    .prev-btn {
        float: left;
    }

    .next-btn {
        float: right;
    }

    .edge-nav {
      display: flex;
      align-items: center;
    }

    .divider-line {
        height: 2px;
        background-color: #FDC228;
        border: none;
        width: 73px;
    }
}
