#choose-strategy-view .instructions {
  text-align: center;
}

#choose-strategy-view .carousel .slide {
  background-color: inherit;
  padding-bottom: 10px;
}

#choose-strategy-view .content-box {
  margin-top: 0px;
  border-top-left-radius: 29px;
  border-top-right-radius: 29px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}
#choose-strategy-view .content-box p {
  text-align: left;
}
#choose-strategy-view .content-box .strat-num {
  margin-top: 0px;
}
#choose-strategy-view .content-box .view-more {
  text-align: center;
}
#choose-strategy-view .content-box .arrow-right {
  position: absolute;
  padding-left: 8px;
  padding-top: 1px;
}

#choose-strategy-view .content-box-bottom {
  background: red;
  max-width: 668px;
  margin-left: auto;
  margin-right: auto;
  border-bottom-left-radius: 29px;
  border-bottom-right-radius: 29px;
  background-color: #1e8fe1;
  height: 79px;
}
#choose-strategy-view .content-box-bottom .coin-cost {
  margin-top: 10px;
  display: inline;
  color: white;
  padding-top: 20px;
}
#choose-strategy-view .content-box-bottom .col-left {
  float: left;
  padding-left: 36px;
  padding-top: 26px;
  padding-bottom: 25px;
}
#choose-strategy-view .content-box-bottom .col-right {
  float: right;
  padding-right: 18px;
  padding-top: 16px;
}
#choose-strategy-view .content-box-bottom .coin-img {
  display: inherit;
  width: 20px;
  display: inline;
  margin-left: 8px;
  margin-top: 4px;
}
@media only screen and (max-width: 768px) {
  #choose-strategy-view .content-box-bottom {
    margin-left: 10px;
    margin-right: 10px;
  }
}
#choose-strategy-view .content-box-bottom .btn.secondary {
  background-color: white;
}

#choose-strategy-view .carousel-holder {
  margin-top: 20px;
}

#choose-strategy-view .nav {
  color: white;
  background-color: #1e8fe1;
}

#choose-strategy-view .prev-btn {
  float: left;
}

#choose-strategy-view .next-btn {
  float: right;
}

#choose-strategy-view .edge-nav {
  display: flex;
  align-items: center;
}

#choose-strategy-view .divider-line {
  height: 2px;
  background-color: #fdc228;
  border: none;
  width: 73px;
}
