
.main {
    &.default-bg {
        background: url(../../images/default_housing_bg.png);
    }

    &.housing-special-bg {
        background: url(../../images/city_hall.png) no-repeat center center;
        background-size:     cover;                      /* <------ */
    }

    &.housing-choose-strategy-bg {
        background-color: #FDC228;
    }

    &.transportation-special-bg {
        background: url(../../images/storefront.png) no-repeat center center;
        background-size:     cover;                      /* <------ */
    }

    display: flex;
    flex-flow: column;
    height: 100%;

    .coin-status {
        background: white;
        position: absolute;
        .coin-img {
            width: 20px;
            height: 20px;
            margin-top: 4px;
            margin-left: 40px;
        }
        border-top-left-radius: 29px;
        border-bottom-left-radius: 29px;
        width: 92px;
        height: 46px;
        right: 0px;
        margin-top: 10px;
        margin-left: 15px;
        padding: 5px 20px;

        -webkit-box-shadow: -1px 2px 5px 0px rgba(36,54,77,1);
        -moz-box-shadow: -1px 2px 5px 0px rgba(36,54,77,1);
        box-shadow: -1px 2px 5px 0px rgba(36,54,77,1);

        h4 {
            margin-bottom: 0px;
            float: left;
        }

        p {
            font-size: 11px !important;
            position: absolute;
            margin-top: 20px;
        }

        img {
            position: absolute;
            margin-left: 6px;
            top: 2px;
        }
    }

    .content-box {
        background: white;
        border-radius: 20px;
        margin-top: 150px;
        padding: 37px;
        max-width: 668px;
        margin-left: auto;
        margin-right: auto;
        -webkit-box-shadow: -1px 2px 5px 0px rgba(36,54,77,1);
        -moz-box-shadow: -1px 2px 5px 0px rgba(36,54,77,1);
        box-shadow: -1px 2px 5px 0px rgba(36,54,77,1);

        @media only screen and (max-width: 768px) {
            margin-left: 10px;
            margin-right: 10px;
        }

        h1 {
            text-align: center;
        }

        &.bottom {
            position: absolute;
            bottom: 0px;
            left: 0px;
            right: 0px;
            margin-top:0px;
            border-top-left-radius: 29px;
            border-top-right-radius: 29px;
            border-bottom-left-radius: 0px;
            border-bottom-right-radius: 0px;

            .person {
                width: 100px;
                height: 107px;
                position: absolute;
                right: 0px;
                top: -60px;
            }
        }
    }

    .forma {
        height: 100%;
    }

    .btn-holder-bottom {
        bottom: 20px;
        position: absolute;
        width: 100%;
        margin-top: 40px;
        text-align: center;
        position:relative;
        bottom:0px;
    }

    // Mobile only
    @media only screen and (max-width: 480px) {
        .btn-holder {
            bottom: 20px;
            position: absolute;
            width: 100%;
            margin-top: 40px;
            text-align: center;
        }
    }

    @media only screen and (min-width: 480px) {
        .btn-holder {
            width: 100%;
            margin-top: 40px;
            text-align: center;
        }
    }
}

