
.main {
    &.default-bg {
        background: url(../../images/default_housing_bg.png);
    }

    &.intro-bg {
        background: url(../../images/intro-bg.png);
        background-size:     cover;                      
    }

    &.housing-special-bg {
        background: url(../../images/city_hall_bg.jpg) no-repeat center center;
        background-size:     cover;                      
    }

    &.beachside-bg {
        background: url(../../images/beachside_bg.jpg) no-repeat center center;
        background-size:     cover;                      
    }

    &.sm-bg {
        background: url(../../images/sm-bg.jpg) no-repeat center center;
        background-size:     cover;                      
    }

    &.yellow-bg {
        background-color: #FED57C;
    }

    &.blue-bg {
        background-color: #adccf0;
    }

    &.train-bg {
        background: url(../../images/train-bg.jpg) no-repeat center center;
        background-size:     cover;                      
    }

    &.red-bg {
        background-color: #F5BFAE;
    }

    &.white-bg {
        background-color: #FFFFFF;
    }

    &.sidewalk-bg {
        background: url(../../images/sidewalk-bg.jpg) no-repeat center center;
        background-size:     cover;                      
    }

    &.college-bg {
        background: url(../../images/college-bg.jpg) no-repeat center center;
        background-size:     cover;                      
    }

    &.green-bg {
        background-color: #7EC2B7;
    }

    &.transportation-special-bg {
        background: url(../../images/storefront_bg.png) no-repeat center center;
        background-size:     cover;                     
    }

    &.park-bg {
        background: url(../../images/park-bg.jpg) no-repeat center center;
        background-size:     cover;                     
    }

    &.sm-2-bg {
        background: url(../../images/sm-2.jpg) no-repeat center center;
        background-size:     cover;                     
    }

    display: flex;
    flex-flow: column;
    height: 100%;

    .coin-status {
        background: white;
        position: absolute;
        .coin-img {
            width: 20px;
            height: 20px;
            margin-top: 4px;
            margin-left: 40px;
        }
        border-top-left-radius: 29px;
        border-bottom-left-radius: 29px;
        width: 92px;
        height: 46px;
        right: 0px;
        margin-top: 10px;
        margin-left: 15px;
        padding: 5px 20px;

        -webkit-box-shadow: -1px 2px 5px 0px rgba(36,54,77,1);
        -moz-box-shadow: -1px 2px 5px 0px rgba(36,54,77,1);
        box-shadow: -1px 2px 5px 0px rgba(36,54,77,1);

        h4 {
            margin-bottom: 0px;
            float: left;
        }

        p {
            font-size: 11px !important;
            position: absolute;
            margin-top: 20px;
        }

        img {
            position: absolute;
            margin-left: 6px;
            top: 2px;
        }
    }

    .content-box {
        background: white;
        border-radius: 20px;
        margin-top: 150px;
        padding: 37px;
        max-width: 668px;
        margin-left: auto;
        margin-right: auto;

        @media only screen and (max-width: 768px) {
            margin-left: 10px;
            margin-right: 10px;
        }

        h1 {
            text-align: center;
        }

        &.bottom {
            position: absolute;
            bottom: 0px;
            left: 0px;
            right: 0px;
            margin-top:0px;
            border-top-left-radius: 29px;
            border-top-right-radius: 29px;
            border-bottom-left-radius: 0px;
            border-bottom-right-radius: 0px;

        }

        .cb-holder {
            position: relative;

            .person {
                width: 100px;
                height: 107px;
                position: absolute;
                right: -25px;
                top: -85px;
            }
        }
    }

    .forma {
        height: 100%;
    }

    .btn-holder {
        width: 100%;
        margin-top: 40px;
        text-align: center;
    }

    // Mobile only
    @media only screen and (max-width: 480px) {
        .btn-holder-bottom {
            position: fixed;
            width: 100%;
            text-align: center;
            bottom:20px;
        }
    }

    @media only screen and (min-width: 480px) {
        .btn-holder-bottom {
            width: 100%;
            text-align: center;
            margin-top: 30px;
        }
    }
}

