#onboarding-choose-category-view {
    .top-text {
        margin-top: 30px;
        margin-bottom: 20px;
        text-align: center;

        h1 {
            margin-bottom: 0px;
        }
    }

    .pill {
        display: flex;
        align-items: center;
        padding-left: 35px;
        margin: 0px auto;
        margin-bottom: 10px;

        height: 82px;
        width: 371px;
        border-radius: 18px;

        background-image: url('../../images/category.png');
        background-repeat: no-repeat;
        background-position: right bottom; 
        background-size: 179px 65px;


        &.housing {
            background-color: #FFD392;
            h2 {
                color: #26364C;
            }
        }

        &.transportation {
            background-color: #F9CBCA;
            h2 {
                color: #26364C;
            }
        }

        &.economy {
            background-color: #6FA6E5; 
            h2 {
                color: #FFFFFF;
            }
        }

        &.environment {
            background-color: #7EC2B7;
            h2 {
                color: #26364C;
            }
        }
    }
}
