#onboarding-choose-category-view .top-text {
  margin-top: 30px;
  margin-bottom: 20px;
  text-align: center;
}
#onboarding-choose-category-view .top-text h1 {
  margin-bottom: 0px;
}

#onboarding-choose-category-view .pill {
  display: flex;
  align-items: center;
  padding-left: 35px;
  margin: 0px auto;
  margin-bottom: 10px;
  height: 82px;
  width: 350px;
  border-radius: 18px;
  background-repeat: no-repeat;
  background-position: right bottom;
  background-size: 179px 65px;
}
#onboarding-choose-category-view .pill.housing {
  background-color: #ffd392;
  background-image: url('../../images/housing.png');
}
#onboarding-choose-category-view .pill.housing h2 {
  color: #26364c;
}
#onboarding-choose-category-view .pill.transportation {
  background-color: #f9cbca;
  background-image: url('../../images/transportation.png');
}
#onboarding-choose-category-view .pill.transportation h2 {
  color: #26364c;
}
#onboarding-choose-category-view .pill.economy {
  background-color: #6fa6e5;
  background-image: url('../../images/economy.png');
}
#onboarding-choose-category-view .pill.economy h2 {
  color: #ffffff;
}
#onboarding-choose-category-view .pill.environment {
  background-color: #7ec2b7;
  background-image: url('../../images/environment.png');
}
#onboarding-choose-category-view .pill.environment h2 {
  color: #26364c;
}
